<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add customer</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="col-md-6 offset-md-3">
        <h3>Add New Customer</h3>
        <br/>
        <form method="POST" action="{% url 'add-customer' %}">
            {% csrf_token %}
            {{ form.as_p }}
        <br/>
          <button type="submit" class="btn btn-secondary">Add Customer</button>
           <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        </form>
        </div>
    {% endblock %}
</body>
</html>